@{
    ViewData["Title"] = "Default";
}
<div class="row tm-mb-7">
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5">
        <h3 class="tm-text-primary tm-mb-4">Useful Readings</h3>
        <nav class="tm-nav-secondary">
            <ul>
                <li><a href="#">Laoreet eget justo</a></li>
                <li><a href="#">Rhoncus volupat turpi</a></li>
                <li><a href="#">Nulla euismod erat</a></li>
                <li><a href="#">Donc a laoreet ipsum</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5">
        <h3 class="tm-text-primary tm-mb-4">Our Pages</h3>
        <nav class="tm-nav-secondary">
            <ul>
                <li><a href="#">Background</a></li>
                <li><a href="#">Our Mission</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Features</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5">
        <h3 class="tm-text-primary tm-mb-4">Main Menu</h3>
        <nav class="tm-nav-secondary">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5">
        <h3 class="tm-text-primary tm-mb-4">About Real Dynamic</h3>
        <p class="tm-mb-4">Ut non orci semper, semper velit sit amet, ornare velit. Vestibulum id ipsum et justo bibendum ornare id sit amet  arcu. Integer placerat magna.</p>
        <div>
            <a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube tm-social-icon"></i></a>
            <a href="https://fb.com/templatemo" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
            <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
            <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
        </div>
    </div>
</div>
<footer class="row">
    <p class="mb-0 w-100 text-center col-12">
        Company &copy; 2020 Company Name

        - Real Dynamic by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link">TemplateMo</a>
    </p>
</footer>