@{
    ViewData["Title"] = "Default";
}
<div class="tm-mb-2">
    <h2 class="text-center tm-text-primary tm-h2-big tm-mb-6">Our Happy Customers</h2>
    <!-- Carousel -->
    <div class="col-lg-6 mx-auto tm-mb-4">
        <div class="tm-carousel">
            <div class="text-center">
                <h3 class="tm-mb-4 tm-text-dark-gray">Vivamus vitae condimentum</h3>
                <p class="tm-mb-4">Vestibulum condimentum, elit nec tempus suscipit, enim nibh aliquam eros, sit amet iaculis nibh nibh at dolor. Cras imperdiet, dolor posuere dignissim dapibus, tortor arcu pellentesque orci, et mattis libero justo semper neque.</p>
                <div class="rating">
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star"></span>
                </div>
            </div>
            <div class="text-center">
                <h3 class="tm-mb-4 tm-text-dark-gray">Cras imperdiet, dolor posuere</h3>
                <p class="tm-mb-4">Elit nec tempus suscipit, enim nibh aliquam eros, sit amet iaculis nibh Vestibulum condimentum, nibh at dolor.Vivamus vitae condimentum dignissim dapibus, tortor arcu pellentesque orci, et mattis libero justo semper neque.</p>
                <div class="rating">
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                </div>
            </div>
            <div class="text-center">
                <h3 class="tm-mb-4 tm-text-dark-gray">Elit nec tempus suscipit</h3>
                <p class="tm-mb-4">Cras imperdiet, dolor posuere dignissim dapibus, tortor arcu pellentesque orci, et mattis libero justo semper neque.Vivamus vitae condimentum. Elit nec tempus suscipit, enim nibh aliquam eros, sit amet iaculis nibh nibh at dolor. </p>
                <div class="rating">
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star"></span>
                </div>
            </div>
            <div class="text-center">
                <h3 class="tm-mb-4 tm-text-dark-gray">Tempus suscipit, enim</h3>
                <p class="tm-mb-4">Tortor arcu pellentesque orci, et mattis libero justo semper neque. Vestibulum condimentum, elit nec tempus  suscipit, enim nibh aliquam eros, sit amet iaculis nibh nibh at dolor. Cras imperdiet, dolor posuere dignissim dapibus. </p>
                <div class="rating">
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star"></span>
                </div>
            </div>
            <div class="text-center">
                <h3 class="tm-mb-4 tm-text-dark-gray">Dolor posuere dignissim dapibus</h3>
                <p class="tm-mb-4">Posuere dignissim dapibus, tortor arcu pellentesque orci, et mattis libero justo semper neque. Vestibulum condimentum, elit nec tempus suscipit, enim nibh aliquam eros, sit amet iaculis nibh nibh at dolor. Vivamus vitae condimentum dolor.</p>
                <div class="rating">
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star checked"></span>
                    <span class="star fas fa-star"></span>
                </div>
            </div>
        </div>
    </div>
</div>