
@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real Dynamic</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link href="~/templatemo_547_real_dynamic/css/bootstrap.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="~/templatemo_547_real_dynamic/fontawesome/css/all.min.css" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
    <link href="~/templatemo_547_real_dynamic/slick/slick.css" rel='stylesheet' /> <!-- https://kenwheeler.github.io/slick/ -->
    <link href="~/templatemo_547_real_dynamic/slick/slick-theme.css" rel='stylesheet' />
    <link href="~/templatemo_547_real_dynamic/css/templatemo-real-dynamic.css" rel="stylesheet" />
    <!--

    TemplateMo 547 Real Dynamic

    https://templatemo.com/tm-547-real-dynamic

    -->
</head>

<!DOCTYPE html>
<html lang="en">


<body>
           @await Component.InvokeAsync("_HeadPartial")

    <div class="tm-container">
        <div class="parallax-window" data-parallax="scroll" data-image-src="~/templatemo_547_real_dynamic/img/real-dynamic-banner-01.jpg">
        </div>
    </div>

            @await Component.InvokeAsync("_Description")

            @await Component.InvokeAsync("_TestimonialPartial")
           
            @await Component.InvokeAsync("_FooterPartial")
           
       

    <script src="~/templatemo_547_real_dynamic/js/jquery-3.4.1.min.js"></script>
    <script src="~/templatemo_547_real_dynamic/js/bootstrap.min.js"></script>
    <script src="~/templatemo_547_real_dynamic/js/parallax.min.js"></script> <!-- https://pixelcog.github.io/parallax.js/ -->
    <script src="~/templatemo_547_real_dynamic/slick/slick.min.js"></script>
    <script src="~/templatemo_547_real_dynamic/js/tooplate-script.js"></script>
    <script>
        $(document).ready(function () {
            // Testimonials carousel
            $('.tm-carousel').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 1,
                slidesToScroll: 1
            });
        });
    </script>
</body>
</html>
